ConsoleApplication1/ConsoleApplication1/.vs/EstudosCSharp/v16/Server/sqlite3/storage.ide
ConsoleApplication1/ConsoleApplication1/.vs/EstudosCSharp/v16/Server/sqlite3/storage.ide-shm
ConsoleApplication1/ConsoleApplication1/consoleapplication1/obj/Debug/TempPE/LinqToSQL.Produtos.designer.cs.dll
ConsoleApplication1/ConsoleApplication1/consoleapplication1/obj/Debug/EstudosCSharp.csprojAssemblyReference.cache
ConsoleApplication1/ConsoleApplication1/consoleapplication1/obj/Debug/EstudosCSharp.csproj.CoreCompileInputs.cache
ConsoleApplication1/WinForms/WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.csproj.CoreCompileInputs.cache
ConsoleApplication1/ConsoleApplication1/.vs/EstudosCSharp/v16/Server/sqlite3/storage.ide-wal
ConsoleApplication1/ConsoleApplication1/.vs/EstudosCSharp/v16/.suo
ConsoleApplication1/ConsoleApplication1/.vs/EstudosCSharp/v16/Server/sqlite3/db.lock
ConsoleApplication1/WinForms/WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.csprojAssemblyReference.cache
